{{ $category := index (.Params.categories) 0 | default "sin-categoria" }}
<li class="flex flex-col justify-between p-4 bg-white rounded-lg" itemprop="blogPost" itemscope=""
  itemtype="https://schema.org/BlogPosting">
  <a href="{{ .Permalink }}" itemprop="url">
    <h4 class="mb-4 font-semibold" itemprop="name">{{ .Title }}</h4>
    <time class="font-light" datetime="{{ .Date.Format " 2006-01-02" }}">
      Published {{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}
    </time>
    {{ if .Description }}
    <p class="">{{ .Description }}</p>
    {{ end }}


  </a>
  <div class="">
    <p class="text-lg font-thin">
      {{ .Params.author | default "Anon" }}
      |
      <a href="{{relURL (print " /categories/" $category | urlize)}}">
        {{ index (.Params.categories) 0 | default "Sin categoria" }}
      </a>
      <!-- {{ with .Params.categories }}
      {{ range first 1 . }}
      <a href="{{ relURL (print " /categories/" . | urlize) }}">{{ . }}</a>
      {{ end }}
      {{ else }}
      <a>{{ default "" .Site.Params.text.uncategorized }}</a>
      {{ end }} -->
    </p>
  </div>
</li>